@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EstedadFont';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/estedad/Estedad[KSHD,wght].woff2) format('woff2');
}

:root {
  --color-dark: #161920;
  --color-dark-hover: #3c4a71;
  --color-primary: #98ff6850;
  --color-main-background: #ffffff;
  --color-main-text: #0f172a;
}

body {
  font-family: EstedadFont;
  min-height: 100vh;
  background: var(--color-main-background);
  color: var(--color-main-text);
  font-weight: 300;
  line-height: 2rem;
  position: relative;
}

.dark {
  --color-main-background: #161920;
  --color-main-text: #ffffff;
}

::selection {
  background: #98ff6850;
}

.light {
  --color-main-background: #ffffff;
  --color-main-text: #161920;
}

@layer components {
  .btn-primary {
    @apply py-1 px-5 bg-dark dark:bg-white dark:text-black dark:hover:bg-slate-300 text-white font-semibold rounded-sm shadow-sm hover:bg-[color:var(--color-dark-hover)] focus:transform focus:scale-90 transition-all duration-100;
  }

  .btn-link {
    @apply py-1 px-3 text-base rounded-sm hover:bg-main transition-all duration-100 border-2 border-transparent;
  }

  .btn-link[aria-current='page'] {
    @apply border-2 border-main bg-main/20;
  }
}

strong {
  font-weight: 600;
}

.post {
  word-spacing: 2px;
}

.post h2 {
  @apply text-2xl font-bold mb-2;
}

.post h3 {
  @apply text-xl font-bold mb-2;
}

.post p {
  @apply mb-8 text-lg leading-10 font-light;
}

.post a {
  @apply text-lime-700 hover:text-lime-900 font-medium dark:text-lime-400 hover:dark:text-lime-400 hover:underline hover:decoration-1 hover:decoration-wavy hover:underline-offset-[5px] hover:decoration-amber-500;
}

.post ul {
  @apply list-disc list-inside mb-6 ps-4;
}

.post ol {
  @apply list-decimal mb-6 ps-12;
}

.post ol li,
.post ul li {
  @apply mb-3;
}

pre {
  direction: ltr;
  @apply mb-8;
}

/* Inline code */
.post :not(pre) > code {
  direction: ltr;
  unicode-bidi: isolate;
  word-spacing: 0;
  font-size: 0.9em;
  @apply inline-block h-fit rounded-md border border-lime-200 bg-lime-50 px-1.5 leading-6 text-lime-800 dark:border-lime-400/20 dark:bg-lime-400/10 dark:text-lime-300;
}

/* Code blocks */
.post .grvsc-container {
  @apply my-8 rounded-xl border border-gray-200 text-sm leading-6 shadow-sm dark:border-white/10;
  background-color: #f7f8fa !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

html.dark .post .grvsc-container {
  background-color: #1e222b !important;
}

.post .grvsc-container code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
